<!-- templates/golfCourse.html -->
{% extends 'base.html' %}

{% block content %}
          {% load leaflet_tags %}
    {% load static %}
    {% leaflet_css %}
    {% leaflet_js %}
      <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Function to handle form submission
      function submitForm() {
          var value1 = document.getElementById('name').value;
          var HOST = location.protocol + "//" + location.host;

          $.ajax({
                type: "POST",
                headers: {
                'X-CSRFToken': "{{ csrf_token }}"
                },
            url: HOST + "/golfCourse/addgolfclub/",
            data: {
                name: value1,
                location_latitude: coordinateLat,
                location_longitude: coordinateLong
            }
            }).done(function (data, status, xhr) {
            console.log(data["message"])
            var originalMsg = $(".toast-body").html();
            $(".toast-body").html(originalMsg + "<br/>Updated database<br/>" + data["message"]);
            }).fail(function (xhr, status, error) {
            console.log(error);
            var originalMsg = $(".toast-body").html();
            $(".toast-body").html(originalMsg + "<br/>" + error);
            }).always(function () {
            console.log("find_loc_ed finished");
            $(".toast").toast('show');
            });
      }
    });
    document.addEventListener('DOMContentLoaded', function () {
            var HOST = location.protocol + "//" + location.host;
            var target = HOST + "/golfCourse/addgolfclub/";
            document.getElementById('myForm').action = target;
        });
  </script>
    <title>Add Golf Club</title>
    <h1>Add Golf Club</h1>
    <div id="mapid" style="height: 400px;"></div>
      <div class="container mt-5">

    <form id="myForm" method="post" action="">
        {% csrf_token %}
         <script>var mymap = L.map('mapid').setView([51.505, -0.09], 2);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
    }).addTo(mymap);
    var coordinateLat;
    var coordinateLong;
    mymap.on('click', function (e) {
        var marker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(mymap);
        document.getElementById('lat').value = marker.getLatLng().lat;
        document.getElementById('long').value = marker.getLatLng().lng;
    })
    </script>
      <div class="form-group" >
        <label for="dataField">name</label>
        <input type="text" class="form-control" name="name" maxlength="255" required id="id_name">
      </div>
        <input type="hidden" id="lat" name="location_latitude">
        <input type="hidden" id="long" name="location_longitude">

      <button type="submit" id="submitButton" class="btn btn-primary">Add golf club</button>
    </form>
  </div>

{% endblock %}
