<!-- templates/golf_club_courses.html -->
{% extends 'base.html' %}

{% block content %}
          {% load leaflet_tags %}
    {% load static %}
    {% leaflet_css %}
    {% leaflet_js %}
    <title>{{ golf_club.name }} Courses</title>

    <h1>{{ golf_club.name }} Courses</h1>
    <div id="mapid" style="height: 400px;"></div>
    <script>
        function drawLine(marray){
            L.polyline(marray, {color: 'red'}).addTo(mymap)
        }
        var mymap = L.map('mapid').setView([{{ golf_club.location_latitude }}, {{ golf_club.location_longitude }}], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        }).addTo(mymap);

        var layerGroup = L.layerGroup().addTo(mymap)
        var markerarray = []

        {% for course in courses %}
                var latitude1 = parseFloat({{ course.point1lat }});
                var longitude1 = parseFloat({{ course.point1long }});
                 var latitude2 = parseFloat({{ course.point2lat }});
                var longitude2 = parseFloat({{ course.point2long }});
                 var latitude3 = parseFloat({{ course.point3lat }});
                var longitude3 = parseFloat({{ course.point3long }});

                L.marker([latitude1, longitude1]).addTo(mymap).bindPopup("name: {{ course.name }}<br>distance: {{ course.calculated_distance }}<br>estimated hits: {{ course.estimated_hits }}");
                markerarray.push([latitude1, longitude1]);
                L.marker([latitude2, longitude2]).addTo(mymap).bindPopup("name: {{ course.name }}<br>distance: {{ course.calculated_distance }}<br>estimated hits: {{ course.estimated_hits }}");
                markerarray.push([latitude2, longitude2]);
                L.marker([latitude3, longitude3]).addTo(mymap).bindPopup("name: {{ course.name }}<br>distance: {{ course.calculated_distance }}<br>estimated hits: {{ course.estimated_hits }}");
                markerarray.push([latitude3, longitude3]);

            drawLine(markerarray);
            markerarray = [];
        {% endfor %}
    </script>
    <a href="/golfCourse/add-golf-course/{{ golf_club.id }}/" class="btn btn-primary">Create new golf course</a>
{% endblock %}
